{% extends 'base.html.twig' %}

{% block title %}Edit Reserver{% endblock %}

{% block body %}
    <h1>Edit Reserver</h1>

    {{ include('reserver/_form.html.twig', {'button_label': 'Update'}) }}

    <a href="{{ path('reserver_index') }}">back to list</a>

    {{ include('reserver/_delete_form.html.twig') }}
{% endblock %}
