{% extends 'base.html.twig' %}

{% block title %}Reunions index{% endblock %}

{% block body %}
    <h1>Reunions index</h1>

    <table class="table">
        <thead>
        <tr>
            <th>Id</th>
            <th>Creneau ID</th>
            <th>Eleve ID</th>
            <th>Lien Reunion</th>
        </tr>
        </thead>
        <tbody>
        {% for reunion in mes_reunions %}
            <tr>
                <td>{{ reunion.id }}</td>
                <td>{{ reunion.creneau.id }}</td>
                <td>{{ reunion.eleve.id }}</td>
                <td>{{ reunion.lienReunion }}</td>
            </tr>
        {% else %}
            <tr>
                <td colspan="5">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

{% endblock %}
