<form method="post" action="{{ path('disponibilite_delete', {'id': dispo.id}) }}" onsubmit="return confirm('Are you sure you want to delete this item?');">
    <button class="btn btn-outline-danger mt-2 ">Effacer</button>
</form>
