{% extends 'base.html.twig' %}

{% block title %}Disponibilite index{% endblock %}

{% block body %}
    <div class="section-body">

        <div class="row">
            <div class="col-12 col-md-6 col-lg-8">
                <div class="card">
                    <div class="card-header">
                        <h4>Disponibilités ajoutés</h4>
                    </div>
                    <div class="card-body">
                        <table class="table table-hover">
                            <thead>
                            <tr>
                                <th scope="col">Date</th>
                                <th scope="col">Période</th>
                                <th scope="col">Classe</th>
                                <th scope="col">Action</th>
                            </tr>
                            </thead>
                            <tbody>
                                {% for dispo in disponibilites %}
                                <tr>
                                    <th scope="col">{{ dispo.datedispo | date('d/m/Y') }}</th>
                                    <th scope="col">{{ dispo.heuredebut | date('h:i') }} - {{ dispo.heurefin | date('h:i') }}</th>
                                    <th scope="col">{{ dispo.promotion.nom }}</th>
                                    <th scope="col">
                                        <a href="#" class="btn btn-outline-danger mt-2 ">Annuler</a>
                                        <a href="#" class="btn btn-outline-primari mt-2">Voir les crenaux </a>
                                    </th>
                                </tr>
                            {% endfor %}
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
            <div class="col-12 col-md-6 col-lg-4">
                <div class="card">
                    <div class="card-header">
                        <h4>Ajouter une Disponibilités</h4>
                    </div>
                    <div class="card-body">

                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
