{% extends 'base.html.twig' %}

{% block title %}Disponibilite{% endblock %}

{% block body %}
    <div class="card">
        <div class="card-header">
            <h4>Crénaux du {{ disponibilite.datedispo | date('d/m/Y') }}</h4>
        </div>
        <div class="card-body">
            <div class="form-group">
                <div class="custom-switches-stacked mt-2">
                    {% for creneau in disponibilite.creneaux %}
                        <label class="custom-switch mt-2">
                            <input type="checkbox" name="custom-switch-checkbox" class="custom-switch-input" {% if creneau.occupe %} checked {% endif %}>
                            <span class="custom-switch-indicator"></span>
                            <span class="custom-switch-description">{{ creneau.heuredebut | date('H:i')}} - {{ creneau.heurefin | date('H:i')}}</span>
                        </label>
                    {% endfor %}
                </div>
            </div>

        </div>
    </div>
{% endblock %}
