{% extends 'base.html.twig' %}

{% block title %}Hello AccueilController!{% endblock %}

{% block stylesheets %}
{% endblock %}

{% block body %}
    <div class="row">

        <div class="col-sm-12">
            <!-- Nav tabs -->
             <div class=" card justify-content-center " style="margin-top: -25px; height: 120px" >
                <ul class="nav list-group list-group-horizontal mx-auto" style="margin-top: 80px;">
                    <li class="mr-4 nav-item">
                        <a class="active" id="home-tab" data-toggle="tab" href="#home" ><h4>Mes Reunions</h4></a>
                    </li>
                    <li class="ml-3">
                        <a  id="profile-tab" data-toggle="tab" href="#profile" ><h4>En attentes</h4></a>
                    </li>
                </ul>
            </div>


            <!-- Tab panes -->
            <div class="tab-content clearfix">
                <div class="tab-pane active" id="home">
                    <div class="row">
                        <div class="col-sm-12">
                            <div class=" ">
                                <h1>texte</h1>
                                <p>Mes reunions</p>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="tab-pane" id="profile">
                    <div class="row">
                        <div class="col-sm-12">
                            <div class="">
                                <h1>textec</h1>
                                <p>Mes reunions en attentes</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
